*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.main{
  
    height: 80%;
    display: grid;
    grid-template-areas: "section1 section2"
                         "content content";

     font-size: 15px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
 
    height: 50%;
}

.mainitem{
    color: white;
    font-size: 3em;
    text-align: center;
    align-content: center;
    margin: 10px;
    border-radius: 10px;
}

.section1{
    grid-area: sec1;
    background-color: aqua;

}
.section2{
    grid-area: sec2;
    background-color: rgb(60, 255, 0);

}

.content{
    grid-area: content;
    background-color: rgb(189, 34, 142);

}

.footer{
    border: 1px solid red;
    height: 10%;
}

@media screen and (max-width: 1024px) {
    .main{
        grid-template-areas: "section1"
                              "section2"
                              "content";
    }
    
} 